{% extends "layout.html" %}

{% block head %}
    <title>Sobre - André Euzébio</title>
{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/40874927?s=460&v=4" alt="André Euzébio">
    <h1>André Euzébio</h1>
    <h2>andre-euz</h2>
    <p>Formado em Sistemas de Informações. Colaborador da <a href="https://senior.com.br" target="_blank">Senior Sistemas</a></p> 
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/andre-euz" target="_blank">Github</a>   
    <a href="https://twitter.com/andreheuz" target="_blank">Twitter</a>            
    <a href="https://www.linkedin.com/in/andreeuzebio/" target="_blank">Linkedin</a>            
</div> 
{% endblock %}
