* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

:root {
    --color-green: #50fa7b;
    --color-black: #000000;
    --color-spurple: #7159c1;
}
body {
    background: var(--color-black);
    font-family: 'Roboto','Source Sans Pro', sans-serif;
}
header {
    padding: 30px;
    text-align: center;
    background: var(--color-spurple);
    border-bottom: var(--color-green) solid 2px;
}

.links a {
    font-weight: bold;
    border: var(--color-green) solid 2px;
    background: var(--color-spurple);
    margin: 0 30px;
    text-decoration: none;    
    color: var(--color-green);
    border-radius: 5px;
    padding: 5px 10px;
}
.links a:hover{
    color: var(--color-spurple);
    background: var(--color-green);
    border: var(--color-spurple) solid 2px;
    transition: background-color 300ms,color 300ms;
}

.About, .Courses {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    color: var(--color-spurple);  
    margin-top: 30px;      
}

.About img {
    height: 250px;
    border: solid 4px var(--color-green);
    border-radius: 50%;
    margin-bottom: 15px;
}
.About h1{
    margin-bottom: 10px;
}

.About p {
    margin-bottom: 25px;
}
.About ul li{
    opacity: 0.8;
    margin-bottom: 6px;
    list-style: none;
}

.links-footer {
    margin-top: 35px;
    
}
.links-footer a {    
    margin-left: 35px;
    text-decoration: none;
    color: var(--color-spurple);
    border-bottom: var(--color-green) solid 1px;
    transition: color 600ms;
}
.links-footer a:hover{
    color: var(--color-green);

}

/* ==== CONTENTS ==== */
.Courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;    
}
.Course {
    background: #1f1f1f;
    border-radius: 30px;
    padding: 25px 10px;
    opacity: 0.8;
    transition: 200ms;

}
.Course:hover {
    opacity: 1;
    cursor: pointer;
}

.Course p {
    margin-bottom: 15px;
    color: white;
}
.Course__title {
    margin-top: 25px;
}

.Course_module {
    margin-top: 35px;
}

.Course__price {    
    margin-top: 25px;
}

#starter {
    color: rgb(113, 89, 193);
}

#launchbase {
   color: rgb(253, 149, 31);
}

#gostack {
    color: var(--color-green)
}

/*=== MODAL ===*/
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}   

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;        
}

.modal .close-modal {
    position: absolute;
    top: 5px;
    right: 5px;
}
.modal .close-modal:hover {
    cursor: pointer;
}

.modal .maximize-modal {
    position: absolute;
    top: 8px;
    right: 35px;
}
.modal .maximize-modal:hover {
    cursor: pointer;
}


/*=== MODAL.ACTIVE AND MAXIMIZE ===*/
.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

iframe {
    position: absolute;
    width: 99.9%;
    height: 95%;
    top: 5%;
}

.modal.maximize {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;    
}