{% extends "layout.njk" %}

{% block content %}
        <div class="About">
            <img src="{{ about.avatar_url }}" alt="Imagem de {{ about.name }}">
            <h1>{{ about.name }}</h1>
            <p>{{ about.description }} </p>
            <ul>
                {% for tech in about.techs %}
                <li>{{ tech }}</li>
                {% endfor %}
            </ul>
            <div class="links-footer">
                {% for link in about.links %}
                    <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                {% endfor %}
            </div>
        </div>
{% endblock %}