{% extends "layout.njk" %}

{% block content %}
        <section class="Courses">
            {% for course in courses %}
                <div class="Course">
                    <div class="Course__logo">
                        <img src="{{ course.logo_url }}" alt="{{ course.name }} Course Logo">
                    </div>
                    <div class="Course__title">
                        <p>{{ course.title }}</p>
                    </div>
                    <div class="Course__modules">
                        <p>{{ course.modules }}</p>
                    </div>
                    <div class="Course__price">
                        <p>{{ course.price }}</p>
                    </div>               
                </div>  
            {% endfor %}          
        </section>        
        <script src="./scripts.js"></script>
{% endblock %}