{% extends "layout.njk" %}

{% block content %}
        <section class="Page-courses">
                <div class="Page-course">
                    <iframe src="https://rocketseat.com.br/{{course.id}}" frameborder="0"></iframe>
                </div>              
        </section>                
{% endblock %}